        #verytop {           
            top: 14%;
            left: 50%;
            min-width: 300px;
        }
        .bg-img {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
        }

            .bg-img:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
                opacity: .6;
            }

        html {
            background: #ddd;
        }

        html {
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
        @import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

        body {
            font-family: 'Segoe UI';
            font-weight: lighter;
            padding: 0;
            margin: 0;
            width: 100%;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
        }
